{% extends 'blog/base.html' %}
{% block content %}

	<form class="form-inline postform" method="post" action="{% url 'blog:savepost' user_id%}">

		{% csrf_token %}
		
		<br>

		<div class="form-group">
			<textarea class="form-control box" rows="10" cols="120" name="newpost" id="newpost" placeholder="Type post here"></textarea>
		</div>
		<br>
		<button class="btn btn-primary btn-lg" type=submit id="postbutton"> POST </button>

		<button class="btn btn-large btn-success" id="logoutdisplay"> <a href="{% url 'blog:logout' %}"> LOGOUT </a> </button>
		

{% endblock %}